* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h5 {
    color: #999999;
}


h1 {
    position: absolute;
    width: 161px;
    height: 56px;
    padding-left: 20px;


    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    /* identical to box height, or 56px */

    display: flex;
    align-items: center;
    color: #333333;
}

.notes_wrapper {
    background-color: #fff;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-gap: 20px 20px;
}

.header_wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.openBtn {
    margin: 10px 20px;
    font-size: 1rem;
}

.item_form_content {
    height: 100%;
    background-color: #ffffff;
    margin: 10px 10px;
    padding: 10px 10px;

}

.input {
    margin: 10px 5px;
    border-radius: 25px;
    height: 50px;
    width: 340px;
    background-color: #F8F8F8;
    border: none;
    outline: none;
    padding-left: 10px;
}

.big_input {
    margin: 10px 5px;
    border-radius: 25px;
    height: 85px;
    width: 340px;
    background-color: #F8F8F8;
    border: none;
    outline: none;
    padding-left: 10px;
}

.btn {
    background-color: #8ADD37;
    color: white;
    border-radius: 25px;
    Width: 177px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}
